<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <!--  Import echarts lib by CDN, you can also import from local files  -->
    <script src='https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts-wordcloud@2/dist/echarts-wordcloud.min.js"></script>
</head>
<body style="text-align: center">
<h1>User</h1>
<div style="width: 100%;height: 60vh;display: flex">
    <div style="width: 50%;height: 100%">
        <div id="piechart" style="height: 100%;width: 100%"></div>
        <div id="piechart1" style="height: 100%;width: 100%"></div>
        <div id="piechart2" style="height: 100%;width: 100%"></div>
        <div id="main" style="height: 100%;width: 1600px"></div>
    </div>
</div>
</body>

<script>

    let piechart = echarts.init(document.getElementById('piechart'));

    fetch('../js/distributed_user_post.csv')
        .then(response => response.text())
        .then(csvData => {
            let piechartData = [];
            let Users = []
            const rows = csvData.split('\n');

            // 解析CSV数据
            for (let i = 0; i < rows.length; i++) {
                const cells = rows[i].replace(", ", " ").split(',');
                const Count = cells[0];
                const Frequency = parseInt(cells[1]);
                const User = cells[2];
                Users.push(User);

                piechartData.push({
                    name: Count,
                    value: Frequency,
                });
            }
            let pieOption = {

                title: {
                    text: 'User Post Distribution',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'

                },
                grid: {
                    width: '100%',
                    height: '100%'
                },
                legend: {
                    orient: 'vertical',
                    textStyle: {
                        fontSize: 20,
                        color: 'black'
                    },
                    right: 'center',
                    bottom: 'bottom',
                },
                series: [
                    {
                        name: 'Problem Count',
                        type: 'pie',
                        radius: '80%',
                        data: piechartData,
                        color: ['#4169E1', '#3CB371',
                            '#FFA500', '#FF7F50', '#DC143C', '#000080', '#9400D3', '#FF00FF'],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0.1, 0.2, 0, 0.5)',
                            }
                        },
                        itemStyle: {
                            normal: {
                                label: {
                                    formatter(params) {
                                        return Users[params.dataIndex];
                                    },
                                    textStyle: {
                                        fontSize: 12,
                                        color: 'black'
                                    }
                                }
                            }
                        }
                    }
                ]
            };
            piechart.setOption(pieOption);
        })


    let piechart1 = echarts.init(document.getElementById('piechart1'));

    fetch('../js/distributed_user_reply.csv')
        .then(response => response.text())
        .then(csvData => {
            let piechartData = [];
            let Users = []
            const rows = csvData.split('\n');

            // 解析CSV数据
            for (let i = 0; i < rows.length; i++) {
                const cells = rows[i].replace(", ", " ").split(',');
                const Count = cells[0];
                const Frequency = parseInt(cells[1]);
                const User = cells[2];
                Users.push(User);

                piechartData.push({
                    name: Count,
                    value: Frequency,
                });
            }
            let pieOption = {

                title: {
                    text: 'User Reply Distribution',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'

                },
                grid: {
                    width: '100%',
                    height: '100%'
                },
                legend: {
                    orient: 'vertical',
                    textStyle: {
                        fontSize: 20,
                        color: 'black'
                    },
                    right: 'center',
                    bottom: 'bottom',
                },
                series: [
                    {
                        name: 'Problem Count',
                        type: 'pie',
                        radius: '80%',
                        data: piechartData,
                        color: ['#9400D3', '#FF00FF', '#FF7F50', '#DC143C', '#000080', '#4169E1', '#3CB371',
                            '#FFA500'],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0.1, 0.2, 0, 0.5)',
                            }
                        },
                        itemStyle: {
                            normal: {
                                label: {
                                    formatter(params) {
                                        return Users[params.dataIndex];
                                    },
                                    textStyle: {
                                        fontSize: 12,
                                        color: 'black'
                                    }
                                }
                            }
                        }
                    }
                ]
            };
            piechart1.setOption(pieOption);
        })


    let piechart2 = echarts.init(document.getElementById('piechart2'));

    fetch('../js/distributed_user_comment.csv')
        .then(response => response.text())
        .then(csvData => {
            let piechartData = [];
            let Users = []
            const rows = csvData.split('\n');

            // 解析CSV数据
            for (let i = 0; i < rows.length; i++) {
                const cells = rows[i].replace(", ", " ").split(',');
                const Count = cells[0];
                const Frequency = parseInt(cells[1]);
                const User = cells[2];
                Users.push(User);

                piechartData.push({
                    name: Count,
                    value: Frequency,
                });
            }
            let pieOption = {

                title: {
                    text: 'User Comment Distribution',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'

                },
                grid: {
                    width: '100%',
                    height: '100%'
                },
                legend: {
                    orient: 'vertical',
                    textStyle: {
                        fontSize: 20,
                        color: 'black'
                    },
                    right: 'center',
                    bottom: 'bottom',
                },
                series: [
                    {
                        name: 'Problem Count',
                        type: 'pie',
                        radius: '80%',
                        data: piechartData,
                        color: ['#FFA500', '#FF7F50', '#DC143C', '#000080', '#9400D3', '#FF00FF', '#4169E1', '#3CB371',
                        ],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0.1, 0.2, 0, 0.5)',
                            }
                        },
                        itemStyle: {
                            normal: {
                                label: {
                                    formatter(params) {
                                        return Users[params.dataIndex];
                                    },
                                    textStyle: {
                                        fontSize: 12,
                                        color: 'black'
                                    }
                                }
                            }
                        }
                    }
                ]
            };
            piechart2.setOption(pieOption);
        })

    const chartDom = document.getElementById('main');
    const myChart = echarts.init(chartDom);


    fetch('../js/user_all.csv')
        .then(response => response.text())
        .then(csvData => {
            const xAxis = [];
            const series = [];
            const rows = csvData.split('\n');

            for (let i = 0; i < rows.length; i++) {
                const cells = rows[i].split(",");
                const xAxisValue = cells[0].replace(/"/g, '');
                const seriesValue = parseInt(cells[1]);

                xAxis.push(xAxisValue);
                series.push(seriesValue);
            }

            let option = {
                title:{
                  text:'Which are the most active users who frequently participate in thread discussions?',
                    left:"center",
                    marginBottom: '200px'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        crossStyle: {
                            color: '#999'
                        }
                    }
                },
                toolbox: {
                    feature: {
                        dataView: {show: true, readOnly: false},
                        magicType: {show: true, type: ['line', 'bar']},
                        restore: {show: true},
                        saveAsImage: {show: true}
                    }
                },
                legend: {
                    data: ['Frequency']
                },
                xAxis: [
                    {
                        type: 'category',
                        data: xAxis,
                        axisPointer: {
                            type: 'shadow'
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                    }
                ],
                series: [
                    {
                        name: 'Frequency',
                        type: 'bar',
                        tooltip: {
                            valueFormatter: function (value) {
                                return value;
                            }
                        },
                        data: series
                    }
                ]
            };

            option && myChart.setOption(option);
        })

</script>

</html>
